.milestone-content-wrapper {
  width: calc(100% - 100px);
  background: #fff;
  height: 100%;
  min-height: 100vh;
  .title {
    font-size: 16px;
    font-weight: 600;
    i {
      font-size: 18px;
      margin-left: 12px;
    }
  }
  .edit-btn {
    button {
      width: 150px;
      padding: 4px 12px;
      background: #2c9a7a;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      border: 1px solid #d3d5d7;
      font-weight: 500;
      margin-top: 16px;
      margin-bottom: 24px;
    }
  }
 
}
.milestone-result-table {

  .header {
    display: flex;
    height: 40px;
    color: #4caf93;
    align-items: center;
    color: #0f1824;
    padding: 4px 12px;
    border-bottom: 3px solid #d3d5d7;
    .from, .to, .description {
      color: #0f1824 !important;
    }
    .name {
      text-align: center;
      color: #0f1824 !important;
    }
  }
  .body {
    .item {
      display: flex;
      height: 40px;
      color: #0f1824;
      align-items: center;
      border-bottom: 1px solid #d3d5d7;
      padding: 4px 12px;
    }
  }
  .name {
    width: calc(100% - 600px);
    >span {
      &:nth-child(1) {
        margin-right: 24px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      &:nth-child(2) {
       width: 80px;
       border-radius: 16px;
       padding: 2px 6px;
       background: orange;
       border: 1px solid;
       color: #fff;
      }
    }
    color: #2c9a7a;
  }
  .description {
    width: 200px;
    text-align: center;
    font-weight: 13px;
    color: #222;
  }
  .from, .to {
    width: 150px;
    text-align: center;
    font-weight: 13px;
    color: #4caf93;
  }
  .delete {
    width: 100px;
    align-items: end;
    display: flex;
    justify-content: center;
     i{
      font-size: 13px;
      font-weight: 800;
      cursor: pointer;
      &:hover {
        color: #FF4d4d;
      }
     }
  }
}