.submenu-wrapper {
  width: 300px;
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-left: 40px;
  height: 100%;
  .title {
    display: flex;
    margin-bottom: 20px;
    i {
      font-size: 18px;
      margin-right: 16px;
    }
    font-weight: 600;
    font-size: 14px;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    .item {
      cursor: pointer;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      height: 36px;
      border-radius: 4px 0 4px 0;
      &:hover {
        background: #fff;
        color: #0f1824;
      }
    }
  }
}