.board-filter-wrapper {
  margin-top: 30px;
  padding: 0 30px;
  .filter-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    .header-left {
      display: flex;
      .title {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }

      .filter-buttons {
        margin-left: 40px;
        button {
          width: max-content;
          padding: 4px 12px;
          text-transform: capitalize;
          border: 1px solid #d3d5d7;
          min-width: 120px;
          font-weight: 500;
          border-radius: 16px;
          color: #808080;
          i {
            margin-right: 6px;
          }
          &:hover {
            background: #4caf93;
            color: #fff;
          }
        }
      }
    }
    .header-right {
      button {
        width: max-content;
        padding: 4px 12px;
        text-transform: capitalize;
        border: 1px solid #d3d5d7;
        min-width: 120px;
        font-weight: 500;
        border-radius: 16px;
        color: #808080;
        i {
          margin-right: 6px;
        }
        &:hover {
          background: #4caf93;
          color: #fff;
        }
      }
    }
  }
  .filter-expand {
    margin-top: 30px;
    .filter-status {
      width: 100%;
      display: flex;
      align-items: center;
      .label {
        width: 60px;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .filter-select-list {
      display: flex;
      margin-top: 24px;
      > div {
        margin-right: 16px;
      }
      .label {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 4px;
      }
    }
    .keyword-input {
      margin-top: 24px;
      .label {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 4px;
      }
      .MuiFormControl-root {
        height: 40px;
        width: 300px;
        background-color: #fff;
        .MuiInputBase-root {
          height: 100%;
          width: 100%;
          input {
            height: 100%;
            width: 100%;
            color: #0f1824;
          }
          fieldset {
            height: 44px;
            width: 100%;
            color: #0f1824;
          }
        }
      }
    }
  }
}
