.drag-n-drop {
  padding: 1rem 0;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, calc(100% / 4 - 16px));
  align-items: start;
  .drag-item {
    .task-item {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .item_priority {
        font-size: 13px;
        font-weight: 400;
        color: #0f1824;
      }
      .row-1 {
        ._left {
          .name {
              display: -webkit-box;
              max-width: 100%;
              font-size: 14px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              &:hover {
                color: #0088FF;
                cursor: pointer;
                text-decoration: underline;
              }
          }
        }
        ._right {
          .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
.dnd-group {
  background-color: #49505e;
  border-radius: 2px;
  padding: 4px;
  min-height: 100vh;
}
.dnd-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  color: #282c34;
  font-weight: bold;
}
.dnd-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.group-title {
  text-align: left;
  margin-bottom: 5rem;
}
.current {
  background-color: #b9dda6;
}
