#root {
  --font-default: 'proxima-nova',Helvetica,Arial,sans-serif;
  --font-highlight: 'Gilroy','Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
  font-family: var(--font-highlight);
  color: #282828;
  background: #f0f0f0;
}