.project-header {
  height: 50px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;

  .project-header_left {
    width: 150px;
    display: flex;
    align-items: center;
    .image {
      width: 42px;
      height: 42px;
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
    .project-name {
      font-size: 16px;
      font-weight: 500;
      margin-left: 16px;
      >span {
        &:first-child {
          margin-right: 8px;
          font-weight: 600;
        }
      }
    }

  }
  .project-header_right {
    width: 300px;
    display: flex;
    align-items: center;
    .user {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #608c4a;
      color: #fff;
      border-radius: 50%;
      
      margin-right: 16px;
      p{
        margin-top: 15px;
      }
    }
    .other-user {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #d3d5d7;
      background: #f5f5f5;
      font-size: 13px;
      border-radius: 50%;
      margin-right: 16px;
    }

    .invite-users {
      width: max-content;
      background-color: #2c9a7a;
      padding: 4px 12px; 
      color: #fff;
      font-weight: 500;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 16px;
    }
    .search {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #d3d5d7;
      font-size: 13px;
      border-radius: 50%;
      margin-right: 16px;
      i {
        font-size: 18px;
      }
    }
  }
}