.files-wrapper {
  width: calc(100% - 50px);
  min-height: 1200px;
  margin-left: 50px;
  margin-top: 50px;
  &.menu-expand {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
  .content-header {
    margin-top: 50px;
    background-color: #fff;
    height: 40px;
    display: flex;
    border-bottom: 1px solid #d3d5d7;
    justify-content: space-between;
    .header-icon-set {
      display: flex;
      align-items: center;
      margin-left: 24px;
      .header-icon-set__icon {
        width: 32px;
        height: 32px;
        margin-right: 12px;
        a {
          img {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }
      }
      .header-icon-set__text {
        font-size: 14px;
        display: flex;
        align-items: center;
      }
    }
  }
  .files-container {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .files-left-content {
      width: 75%;
      .title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .label {
          width: 100px;
          font-size: 16px;
          font-weight: 600;
        }
        .list-actions {
          display: flex;
          >div {
            margin-left: 16px;
            background: #fff;
            border: 1px solid #d3d5d7;
            padding: 4px 12px;
            font-size: 14px;
            border-radius: 16px;
            i {
              margin-right: 6px;
            }
          }
        }        
      }
      .files-table {
        margin-top: 24px;
        border: 1px solid #d3d5d7;
        border-radius: 4px;
        .table-header {
          .select-box {
            display: flex;
            align-items: center;
            input {
              margin-right: 8px;
              width: 20px;
              height: 20px;
            }
          }
          .list-actions {
            display: flex;
            align-items: center;
            
            button {
              border: 1px solid #d3d5d7;
              border-radius: 4px;
              margin-left: 12px;
              padding: 4px 16px;
              height: 36px;
              text-transform: capitalize;
            }
          }
          .header-row {
            padding: 12px;
            display: flex;
            height: 40px;
            border-top: 1px solid #d3d5d7;
            border-bottom: 1px solid #d3d5d7;
            background: #fff;
            color: #4caf93;
            font-size: 14px;
            .file-name {
              width: calc(100% - 100px - 150px - 150px);
              text-align: center;
            }
            .size {
              width: 100px;
              text-align: start;
            }
            .updated-by {
              width: 150px;
            }
            .updated-at {
              width: 150px;
            }
          }
        }
        .table-content {
          .item-file {
            color: #0f1824;
            font-weight: 400;
            padding: 12px;
            display: flex;
            height: 40px;
            border-top: 1px solid #d3d5d7;
            border-bottom: 1px solid #d3d5d7;
            background: #fff;
            font-size: 14px;
            .item-name {
              width: calc(100% - 100px - 150px - 150px);
              text-align: center;
              display: flex;
              input {
                margin-right: 8px;
                width: 16px;
                height: 16px;
              }
            }
            .item-size {
              width: 100px;
              text-align: start;
            }
            .item-updated-by {
              text-align: center;
              width: 150px;
            }
            .item-updated-at {
              text-align: end;
              width: 150px;
            }
          }
        }
      }
    }
    .files-right-content {
      width: 22%;
      .find-file-wrapper {
        color: #222;
        .label {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 30px;
        }
        .find-content {
          background-color: #fff;
          border: 1px solid #d3d5d7;
          border-radius: 4px;
          padding: 12px;
          .input-date {
            .label {
              font-size: 13px;
              font-weight: 400;
              margin-bottom: 8px;
            }
            .list-select-date {
              width: 100%;
              display: flex;
              justify-content: space-between;
              input {
                width: calc(50% - 12px);
                border-radius: 4px;
                outline: none;
                border-color: #d3d5d7;
                padding: 2px 6px;
              }
            }
          
          }
          .by-user, .keyword {
            margin-top: 16px;
            .label {
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 8px;
            }
            input {
              width: 100%;
              border-radius: 4px;
              outline: none;
              border-color: #d3d5d7;
              padding: 2px 6px;
            }
          }
          .btn-search {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            button {
              width: 150px;
              background-color: #4caf93;
              border-radius: 4px;
              color: #fff;
              height: 36px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-color: unset;
              margin-bottom: 12px;
            }
          }
         }
      }
    
    }
  }
}
