.dashboard-wrapper {
  color: #333;
  background-color: #f0f0f0;
  min-height: 100vh;
  width: calc(100% - 50px);
  margin-left: 50px;
  .content-header {
    padding-top: 80px;
    border-top: 1px solid #D3D5D7;
    .content-header__inner {
      height: 56px;
      .header-icon-set {
        display: flex;
        justify-content: center;

        .header-icon-set__icon {
          height: 100%;
          a {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
        .title-group {
          display: flex;
          align-items: center;
          margin-left: 24px;
          .org-name {
            font-weight: 600;
            font-size: 20px;
            margin-right: 12px;
          }
          .setting-icon {
            width: 32px;
            height: 32px;
            border: 1px solid #d3d5d7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: #2c9a7a;
              i {
                color: #FFFFFF;
              }
             
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              i {
                font-size: 18px;
                color: #808080;
              }
            }
          }
        }
      }
    }
  }
  .dashboard-contents {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    .dashboard-left-wrapper {
      width: 49%;
      height: auto;
      &.extend {
        width: 78%;
      }
    }
    .dashboard-right-wrapper {
      width: 49%;
      height: auto;
      &.zoom-in {
        width: 20%;
      }
    }
  }
  .workplace-empty{
    width: 100%;
    padding: 0 40px;
    margin: 24px 0;
    display: flex;
    justify-content: space-evenly;
    .item-add {
      width: calc(100% / 3 - 30px);
      height: 120px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: #FFF;
      border-radius: 10px;
      display: flex;
      .item-icon {
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 32px;
          color: #2c9a7a;
        }
      }
      .item-content {
        width: calc(100% - 60px);
        padding: 16px 0;
        box-sizing: border-box;
        margin-left: 16px;
        font-size: 16px;
        font-weight: 500;
        color: #666;
        .sub-text {
          font-size: 13px;
          font-weight: 400;
          margin-top: 8px;
          margin-bottom: 8px;
          word-break: break-word;
        }
        button {
          width: 80px;
          background-color: #2c9a7a;
          color: #FFF;
          font-size: 16px;
          border-radius: 4px;
          height: 32px;
          border: 1px solid #FFF;
        }
      }
      &.issue {
        .item-content {
          button {
            background-color: #b6b5b5;
          }
        }
      }
    }
  }
}