.toggle-menu-wrapper {
  position: fixed;
  top: 50px;
  left: 0;
  width: 50px;
  background: #4caf93;
  z-index: 9999;
  height: 100vh;
  &.expand {
    width: 200px;
    .menu-bar {
      display: flex;
      justify-content: flex-end;
      .icon {
        opacity: 0.5;
      }
      &:hover {
        .icon {
          opacity: 1;
        }
      }
    }
  }

  .menu-item {
    &:hover {
      background-color: #f0f0f0;
      .text {
        color: #4caf93;
      }
      i {
        color: #4caf93;
      }
    }
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    .text {
      margin-left: 8px;
      font-weight: 700;
      color: #fff;
    }
  }
  .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i {
      font-size: 24px;
      color: #fff;
    }
  }
}
