.staff-content-wrapper {
  width: calc(100% - 100px);
  background: #fff;
  height: 100%;
  min-height: 100vh;
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    i {
      font-size: 18px;
      margin-left: 12px;
    }
  }
  .btn-add-user {
    width: 180px;
    margin-bottom: 20px;
    button {
      width: 100%;
      background-color: #4caf93;
    }
  }
}

.filter-member {
  width: 100%;
  height: 60px;
  border: 1px solid #d3d5d7;
  border-radius: 8px;
  padding: 4px 12px;
  background: #f0f0f0;
  align-items: center;
  .text-1 {
    width: 100px;
  }
  .search-input {
    display: flex;
    position: relative;
    align-items: center;
    padding: 3px 12px;

    border-radius: 20px;
    width: calc(100% - 300px);
    input {
      width: 100%;
      height: 36px;
      outline: none;
      border: 1px solid #d3d5d7;
      border-radius: 20px;
      background: #fff;
    }
    i {
      cursor: pointer;
      &:nth-child(1) {
        position: absolute;
        top: 13px;
        left: 25px;
        font-size: 16px;
      }
      &:nth-child(3) {
        position: absolute;
        top: 13px;
        right: 30px;
        font-size: 16px;
        &:hover {
          color: #ff4d4d;
        }
      }
    }
  }
  .role-btn,
  .user-btn {
    width: 100px !important;
    > div {
      button {
        height: 36px !important;
        width: 100% !important;
      }
    }
  }
  .role-btn {
    margin-right: 10px;
  }
}

.filter-result-table {
  margin-top: 35px;
  .header {
    display: flex;
    height: 40px;
    color: #4caf93;
    align-items: center;
    border-bottom: 3px solid #d3d5d7;
    padding: 4px 12px;
  }
  .body {
    .item {
      display: flex;
      height: 40px;
      color: #0f1824;
      align-items: center;
      border-bottom: 1px solid #d3d5d7;
      padding: 4px 12px;
      &:hover {
        background: #fcfade;
      }
    }
  }
  .name {
    width: calc(100% - 650px);
  }
  .mail {
    width: 250px;
  }
  .role {
    width: 150px;
  }
  .join {
    width: 150px;
  }
  .remove {
    width: 100px;
    align-items: end;
    display: flex;
    justify-content: center;
    i {
      cursor: pointer;
      &:hover {
        color: #ff4d4d;
      }
    }
  }
}

.add-user-content-wrapper {
  .back-to-edit {
    margin-bottom: 12px;

      color: #4caf93;
      cursor: pointer;
    
  }
  .add-user-content {
    input {
      padding: 4px 12px;
      height: 36px;
      width: 350px;
      font-size: 14px;
      border-radius: 4px;
      outline: none;
      border-color: #d3d5d7;
    }
    .info {
      font-size: 18px;
      margin-bottom: 16px;
      font-weight: 600;
      color: #555;
    }
    .avatar {
      img {
        border-radius: 50%;
      }

    }
    .input-role {
      margin-top: 16px;
      label {
        >span {
          &:last-child {
            color: #ff4d4d;
            margin-left: 3px
          }
        }
        margin-right: 62px;
      }
      select {
        width: 250px;
        padding: 4px 12px;
        height: 36px;
        font-size: 14px;
        border-radius: 4px;
        outline: none;
        border-color: #d3d5d7;
        >option {
          width: 250px;
          padding: 4px 12px;
          height: 36px;
          font-size: 14px;
        }
      }
    }
  }
}