.issues-table-wrapper {
  margin-top: 24px;
  overflow-x: auto;
  max-width: 1500px;
  padding: 0 30px;
  .table-header {
    height: 44px;
  
    overflow-x: auto;
    border: 1px solid #d3d5d7;
    background: #fff;
    font-size: 14px;
    padding: 6px 8px;
    display: flex;
    border-radius: 4px 4px 0 0;
    >div {
      width: 120px;
      color: #2c9a7a;
      display: flex;
      align-items: center;
    }
    .subject {
      width: 200px;
    }
  }
  .table-content {
    .issue-item {
      height: 44px;
      width: 100%;
      border: 1px solid #d3d5d7;
      background: #fff;
      font-size: 13px;
      padding: 6px 8px;
      display: flex;

      border-radius: 4px 4px 0 0;
      >div {
        width: 120px;
        color: #0f1824;
        display: flex;
        align-items: center;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .item_subject {
        width: 200px;
      }
      .item_type {
        display: flex;
        align-items: center;
        >div {
          width: max-content;
          padding: 2px 4px;
          background-color: #a1af2f;
          color: #fff;
          border-radius: 10px;
          text-align: center;
          min-width: 60px;
        }
      }
      .item_status {
        display: flex;
        align-items: center;
        >div {
          width: max-content;
          padding: 2px 4px;
          background-color: #ed8077;
          color: #fff;
          border-radius: 10px;
          text-align: center;
          min-width: 60px;
        }
      }
      .item_priority{
        i {
          color: #0088FF;
          font-weight: 600;
          margin-left: 8px;
        }
      }
    }
  }
}