.signin-wrapper {
  font-family: "Gilroy", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  .head {
    padding-top: 100px;
    .title-1 {
      font-size: 56px;
      line-height: 64px;
      margin-bottom: 48px;
      text-align: center;
    }
  }
  .login-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    .login-form {
      padding: 32px;
      width: 384px;
      border: 1px solid #d3d5d7;
      border-radius: 4px;
      .title {
        justify-content: center;
        margin-bottom: 24px;
        font-weight: 700;
        a {
          color: #282828;
          margin-left: 4px;
        }
      }
      .mail,
      .password {
        .MuiTextField-root {
          width: 100%;
          margin-top: 4px;
        }
        .MuiInputBase-root {
          height: 48px;
          width: 100%;
          input,
          fieldset {
            height: 100%;
          }
        }
      }
      .next-btn {
        background-color: #745fe6;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        width: 100%;
        height: 48px;
        margin-top: 24px;
        text-transform: capitalize;
      }
      .form-field {
        margin-top: 24px;
        margin-bottom: 24px;
        .forgot-pass {
          line-height: 40px;
          a {
            color: #9e9eae;
            font-size: 14px;
          }
        }
        label {
          span {
            margin-left: 4px;
          }
          &:hover {
            span {
              color: #745fe6;
            }
          }
        }
      }
      .btn-action {
        width: 100%;
        .back-to-email {
          display: flex;
          color: #1e21ef;
          align-items: center;
          margin-right: 12px;
          width: 60px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        button {
          width: calc(100% - 80px);
          background-color: #745fe6;
          font-weight: 700;
          font-size: 16px;
          color: #ffffff;
          width: 100%;
          height: 48px;
          text-transform: capitalize;
        }
      }
    }
  }
}
