.header-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  color: #111;
  background-color: #edf4f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d5d7;
  .nav-bar {
      &.left {
        width: 40%;
        .org-icon {
          width: 30px;
          height: 30px;
          background-color: #e0e0e0;
          margin-left: 24px;
          img {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }
        .dashboard {
          margin-left: 12px;
          font-size: 14px;
          padding: 4px 8px;
          border-radius: 4px;
          &:hover {
            background-color: #F2F9F2;
            color: #0088FF;
            cursor: pointer;
          }
        }
      }
      &.right {
        width: 60%;
        justify-content: end;
        padding-right: 90px;
        display: flex;
        align-items: center;
        >div {
          cursor: pointer;
          width: 32px;
          // background-color: #FFFFFF;
          // border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 32px;
          i {
            color: #808080;
            font-size: 20px;
          }
          margin: 0 16px;
          &:hover {
            background-color: #2c9a7a;
            border-radius: 50%;
            i {
            
              color: #fff;
            }
          }
        }
        .current-user {
          position: relative;
          width: 36px;
          &:hover {
            background-color: unset;
            border-radius: 50%;
            i {
            
              color: unset;
            }
          }
          i {
            &:first-child {
              font-size: 18px;
              margin-right: 5px;
            }
            &:nth-child(2) {
              position: absolute;
              top: 8px;
              right: -10px;
              font-size: 12px;
            }
          }
          .dropdown-user-wrapper {
            position: absolute;
            width: max-content;
            border-radius: 6px;
            height: auto;
            top: 40px;
            right: 0;
            background-color: #FFFFFF;
            box-shadow: -4px 4px 20px 0px rgba(168, 168, 168, 0.50);
            padding: 12px 16px;
            >div {
              cursor: pointer;
              padding: 6px 8px;
              border-radius: 4px;
              &:last-child {
                margin-bottom: unset;
              }
            }
          }
        }
        .notification {
          position: relative;
          z-index: 2;
          .count {
            position: absolute;
            z-index: 10;
            top: 2px;
            right: 1px;
            width: 16px;
            height: 16px;
            background-color: #ff4d4d;
            color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
              font-size: 12px;
              color: #fff;
            }
          }
          .notification-wrapper {
            width: 300px;
            min-height: 450px;
            max-height: 450px;
            border: 1px solid #d3d5d7;
            background-color: #FFF;
            border-radius: 4px;
            position: absolute;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            top: 40px;
            .title {
              background-color: #0088FF;
              height: 40px;
              padding: 10px 12px;
              >div {
                color: #fff;
                i {
                  font-size: 16px;
                }
              }
              .sub-content-1 {
                display: flex;
                align-items: center;
                cursor: pointer;
                input {
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;
                }
                label {
                  cursor: pointer;
                }
                font-size: 13px;
                margin-right: 20px;
              }
            }
            .list-noti {
              height: 400px;
              max-height: 400px;
              overflow-y: scroll;
              
              width: 100%;
              padding:  12px 8px;
              .loading {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
              }
              .noti-item {
                height: 72px;
                padding: 12px 16px;
                font-size: 13px;
                margin-bottom: 2px;
                padding-bottom: 4px;
                border-bottom: 1px solid #d3d5d7;
                .bot-content {
                  margin-top: 12px;
                  font-weight: 600;
                }
                &.read {
                  background-color: #f0f0f0;
                  .bot-content {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
    }
}
