.my-profile {
  width: 100%;
  min-height: 100vh;
  position: relative;
  .back-to-home {
    position: absolute;
    top: 50px;
    left: 80px;
    button {
      width: 180px;
      background-color: #0088FF;
      border: 1px solid #d3d5d7;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      height: 36px;
    }
   
  }
  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      margin-top: 70px;
      background: #fff;
      border-radius: 4px;
      border: 1px solid #d3d5d7;
      width: 500px;
      height: 530px;
      padding: 16px 24px;
      .avatar {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        div {
          background:  #608c4a;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 30px;
        }
      }
      .username, .email, .unique-id {
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
       
      }
      .note {
        font-size: 12px;
        font-weight: 500;
        margin-top: 4px;
        margin-left: 4px;
      }
      .label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      input {
        padding: 4px 12px;
        height: 36px;
        width: 100%;
        font-size: 14px;
        border-radius: 4px;
        outline: none;
        border-color: #d3d5d7;
      }
      button {
        width: 150px;
        background-color: #0088FF;
        border: 1px solid #d3d5d7;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        height: 36px;
      }
    }
  }
}
